/.idea/.gitignore
/target/venv2/Scripts/activate
/target/venv/Scripts/activate
/target/venv2/Scripts/activate.bat
/target/venv/Scripts/activate.bat
/target/venv2/Scripts/Activate.ps1
/target/venv/Scripts/Activate.ps1
/target/venv2/Scripts/deactivate.bat
/target/venv/Scripts/deactivate.bat
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/target/venv/Scripts/python.exe
/target/venv2/Scripts/python.exe
/target/venv2/Scripts/pythonw.exe
/target/venv/Scripts/pythonw.exe
/target/venv2/pyvenv.cfg
/target/venv/pyvenv.cfg
/.idea/regexProject.iml
/.idea/vcs.xml
